<div class="banner" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>De repente, 18!</h1>
    <p>Confira todos os <em>detalhes</em> desse dia que será <em>inesquecível</em>!</p>
    <a class="btn btn-flat" href="mailto:rsvp.sylvia@yahoo.com.br?subject=RSVP Renata XVIII">RSVP</a>
  </div>
</div>

<div class="container align-content-center mx-auto">
  <div class="card-product" data-aos="fade-right">
    <%= image_tag "renata.png", alt:"logo Renata"  %>
    <div class="card-product-infos">
      <h2 class="heading">Prazer, Renata!</h2>
      <p>Carioca de natureza, nascida no berço do calor e do mar 🏖️</p>
      <p>Ansiosa para completar a maioridade, vulgos 18 anos!</p>
    </div>
  </div>

  <hr>

  <h2 class="heading">Informações</h2>
    <div class="container py-3 my-2 d-flex" id="infos-section" data-aos="fade-left">
      <div class="date">
        <p>12 <span>Ago</span></p>
      </div>
      <div class="p-4">
        <p>Local: <strong>Casa das canoas</strong> | Estrada das Canoas, 1246, São Conrado RJ (<%= link_to 'Site', 'https://casadascanoas.com.br/', target:"_blank" %>) </p>
        <p>Traje: Passeio completo</p>
      </div>
    </div>
  <hr>

   <h2 class="heading">Local</h2>
    <div class="container my-2" data-aos="fade-left">
      <%= link_to 'https://www.google.com/maps/place/Casa+das+Canoas+Casa+de+Festas+RJ/@-22.9934716,-43.2753764,15z/data=!4m2!3m1!1s0x0:0x1950efe5469a4f12?sa=X&ved=2ahUKEwiBvOmM-KX5AhXZJrkGHdDjAScQ_BJ6BAheEAU',target:"_blank" do  %>
        <%= image_tag 'https://static.wixstatic.com/media/2c6d47_58ea0d0f425740e89a8d199a95b0fa54.jpg/v1/fill/w_632,h_354,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/2c6d47_58ea0d0f425740e89a8d199a95b0fa54.jpg', alt:'foto local' %>
      <% end %>
    </div>

  <hr>

  <h2 class="heading">Exemplos de traje</h2>
  <div class="cards my-3">
    <div class="card-category" data-aos="fade-down" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://aempreendedora.com.br/wp-content/uploads/2017/12/Traje-Formanda-Baile-de-Formatura.jpg)"></div>

    <div class="card-category" data-aos="fade-down" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://292aa00292a014763d1b-96a84504aed2b25fc1239be8d2b61736.ssl.cf1.rackcdn.com/PostImagem/32496/decifrando-o-dress-code-masculino-do-dia-a-dia-ao-trabalho_o1e0e2jvcpl4l1nhd1gjeo61id3e.png)"></div>

    <div class="card-category" data-aos="fade-down" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://2.bp.blogspot.com/-Ikr-kTbP4O4/XHViJvtejWI/AAAAAAAAEhA/kkIVUGNFCVYf4cVs2y8-VAIcLy3-nkqCwCLcBGAs/s1600/1551032417642.JPEG)"></div>

    <div class="card-category" data-aos="fade-down" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tudocommoda.com/wp-content/uploads/2016/08/terno-italiano.jpg)"></div>
  </div>


  <div class="comentarios-block mt-4" id="comments-section" data-aos="fade-right">
    <div class="comentarios">
        <h2 class="heading">Painel de Recados!</h2>
        <hr>
      <% @comments.each do |comment| %>
        <p class="mb-0"> <%= comment.content %></p>
        <p>By:<span class="heading"><%= comment.user  %></span></p>
        <hr>
      <% end %>
    </div>
    <div class="comentarios-form m-5">
      <%= simple_form_for(@comment)  do |f| %>
        <%= f.input :content, label:'Recado' %>
        <%= f.input :user, label:'Nome' %>
        <%= f.submit  class: "btn btn-primary", value:'Deixe um recado!' %>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/duda-prc/renata-bday" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/renataprimo_/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/renata.primo.94" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.linkedin.com/in/eduarda-pr-campos/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Made by Duda with lots of <i class="fas fa-heart"></i>!
    </div>
  </div>
